body {
    /*font-family: Arial, sans-serif;*/
    margin: 1.5rem;
}

#container{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
    display: block;
    flex-wrap: nowrap;
}

#container-about{
    width: 50%;
}

#formulario {
    width: 25%;
}